html,
body {
  height: 100%;
  overflow: hidden;
  color: #fff;
  position: relative;
}
/*loading*/
.loading-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #eee;
}
.loading-percent,
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading {
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: load-effect 1s infinite linear;
}
.loading-percent {
  color: #6495ED;
}
@keyframes load-effect {
  0% {
    box-shadow: 0 -3em 0 0.2em #6495ED, 2em -2em 0 0 #6495ED, 3em 0 0 -0.5em #6495ED, 2em 2em 0 -0.5em #6495ED, 0 3em 0 -0.5em #6495ED, -2em 2em 0 -0.5em #6495ED, -3em 0 0 -0.5em #6495ED, -2em -2em 0 0 #6495ED;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #6495ED, 2em -2em 0 0.2em #6495ED, 3em 0 0 0 #6495ED, 2em 2em 0 -0.5em #6495ED, 0 3em 0 -0.5em #6495ED, -2em 2em 0 -0.5em #6495ED, -3em 0 0 -0.5em #6495ED, -2em -2em 0 -0.5em #6495ED;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #6495ED, 2em -2em 0 0 #6495ED, 3em 0 0 0.2em #6495ED, 2em 2em 0 0 #6495ED, 0 3em 0 -0.5em #6495ED, -2em 2em 0 -0.5em #6495ED, -3em 0 0 -0.5em #6495ED, -2em -2em 0 -0.5em #6495ED;
  }
  37.5% {
    box-shadow: 0 -3em 0 -0.5em #6495ED, 2em -2em 0 -0.5em #6495ED, 3em 0 0 0 #6495ED, 2em 2em 0 0.2em #6495ED, 0 3em 0 0 #6495ED, -2em 2em 0 -0.5em #6495ED, -3em 0 0 -0.5em #6495ED, -2em -2em 0 -0.5em #6495ED;
  }
  50% {
    box-shadow: 0 -3em 0 -0.5em #6495ED, 2em -2em 0 -0.5em #6495ED, 3em 0 0 -0.5em #6495ED, 2em 2em 0 0 #6495ED, 0 3em 0 0.2em #6495ED, -2em 2em 0 0 #6495ED, -3em 0 0 -0.5em #6495ED, -2em -2em 0 -0.5em #6495ED;
  }
  62.5% {
    box-shadow: 0 -3em 0 -0.5em #6495ED, 2em -2em 0 -0.5em #6495ED, 3em 0 0 -0.5em #6495ED, 2em 2em 0 -0.5em #6495ED, 0 3em 0 0 #6495ED, -2em 2em 0 0.2em #6495ED, -3em 0 0 0 #6495ED, -2em -2em 0 -0.5em #6495ED;
  }
  75% {
    box-shadow: 0 -3em 0 -0.5em #6495ED, 2em -2em 0 -0.5em #6495ED, 3em 0 0 -0.5em #6495ED, 2em 2em 0 -0.5em #6495ED, 0 3em 0 -0.5em #6495ED, -2em 2em 0 0 #6495ED, -3em 0 0 0.2em #6495ED, -2em -2em 0 0 #6495ED;
  }
  87.5% {
    box-shadow: 0 -3em 0 0 #6495ED, 2em -2em 0 -0.5em #6495ED, 3em 0 0 -0.5em #6495ED, 2em 2em 0 -0.5em #6495ED, 0 3em 0 -0.5em #6495ED, -2em 2em 0 0 #6495ED, -3em 0 0 0 #6495ED, -2em -2em 0 0.2em #6495ED;
  }
  100% {
    box-shadow: 0 -3em 0 0.2em #6495ED, 2em -2em 0 0 #6495ED, 3em 0 0 -0.5em #6495ED, 2em 2em 0 -0.5em #6495ED, 0 3em 0 -0.5em #6495ED, -2em 2em 0 -0.5em #6495ED, -3em 0 0 -0.5em #6495ED, -2em -2em 0 0 #6495ED;
  }
}
/*music-listPage*/
.music-name {
  font-size: 1.06666667rem;
}
.singer {
  padding-top: 0.42666667rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.title {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.66666667rem;
  line-height: 2.66666667rem;
  text-align: center;
  font-size: 1.33333333rem;
  background-color: #1F729A;
}
.titleBtn {
  float: right;
  width: 1.01333333rem;
  height: 1.01333333rem;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.82666667rem 0.82666667rem 0 0;
}
.music-listPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.listPage-title .homePage {
  background-image: url("../images/tip.png");
}
.listPage-listWrapper {
  position: absolute;
  top: 2.66666667rem;
  left: 0;
  bottom: 4.05333333rem;
  width: 100%;
  overflow: hidden;
  background: url("../images/bg.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
}
.list-item {
  height: 3.73333333rem;
  padding: 0.74666667rem 0 0.64rem 1.28rem;
  border-bottom: 1px #999 solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list-item.active {
  border-left: 0.2rem solid #29abe2;
  background: rgba(26, 26, 26, 0.8);
}
.list-player {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 4.05333333rem;
  padding: 0.42666667rem 0.90666667rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/list_audioBg.png");
  -webkit-background-size: 0.13333333rem 100%;
  background-size: 0.13333333rem 100%;
}
.list-player div {
  float: left;
}
.list-player .music-img img {
  display: inline-block;
  width: 3.09333333rem;
  height: 3.09333333rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.list-player .music-img img.rotate {
  -webkit-animation: rotate 2s infinite linear;
  -o-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.list-player .music-info {
  margin-left: 1.28rem;
  padding-top: 0.32rem;
}
.list-player .audio-control {
  display: none;
  float: right;
  width: 2.02666667rem;
  height: 2.02666667rem;
  margin-top: 0.64rem;
  background: url("../images/list_audioPlay.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.music-detailPage {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.music-detailPage.slide-up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.music-detailPage.slide-down {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.music-detailPage .music-name {
  font-size: 1.06666667rem;
}
.music-detailPage .name {
  margin-left: 1.06666667rem;
  font-size: 0.85333333rem;
}
.music-detailPage .slide-downBtn {
  background-image: url("../images/details_arrow.png");
}
.music-detailPage .music-audio {
  position: absolute;
  width: 100%;
  top: 2.66666667rem;
  left: 0;
  bottom: 0;
  background: url("../images/detailsBg.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
}
.music-detailPage .lyric-wrapper {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.music-detailPage .lyric-wrapper .lyric-list {
  width: 100%;
  -webkit-transition: all 0.3s -0.4s linear;
  -moz-transition: all 0.3s -0.4s linear;
  -ms-transition: all 0.3s -0.4s linear;
  -o-transition: all 0.3s -0.4s linear;
  transition: all 0.3s -0.4s linear;
}
.music-detailPage .lyric-wrapper .lyric-list .lyric-item {
  margin-top: 0.53333333rem;
  font-weight: normal;
  font-size: 0.8rem;
}
.music-detailPage .lyric-wrapper .lyric-list .lyric-item.active {
  color: #29abe2;
}
.music-detailPage .progress {
  width: 100%;
  margin-top: 0.32rem;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
}
.music-detailPage .progress > span,
.music-detailPage .progress .progress-lineBg {
  font-size: 0.96rem;
  margin-right: 0.53333333rem;
}
.music-detailPage .progress .progress-lineBg {
  position: relative;
  display: inline-block;
  top: -0.34666667rem;
  width: 9.6rem;
  height: 0.10666667rem;
  background: #fff;
}
.music-detailPage .progress .progress-lineBg .progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #29abe2;
}
.music-detailPage .progress .progress-lineBg .bar {
  position: absolute;
  top: -0.48rem;
  left: 0rem;
  width: 1.06666667rem;
  height: 1.06666667rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}
.music-detailPage .detail-player {
  width: 100%;
  height: 3.41333333rem;
  line-height: 3.41333333rem;
  margin-top: 1.06666667rem;
  text-align: center;
  font-size: 0;
}
.music-detailPage .detail-player span {
  display: inline-block;
  width: 2.34666667rem;
  height: 2.34666667rem;
  vertical-align: middle;
  margin-right: 2.13333333rem;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.music-detailPage .detail-player span:last-child {
  margin-right: 0;
}
.music-detailPage .detail-player .prevBtn {
  background-image: url('../images/details_prev.png');
}
.music-detailPage .detail-player .playBtn {
  width: 3.41333333rem;
  height: 3.41333333rem;
  background-image: url('../images/details_play.png');
}
.music-detailPage .detail-player .nextBtn {
  background-image: url('../images/details_next.png');
}
